@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;600;700&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/*

*****************GENERAL*******************

*/

/*

-webkit-box-shadow: 5px 5px 15px 50px rgba(0,0,0,0.05); 
box-shadow: 5px 5px 15px 50px rgba(0,0,0,0.05);

Naranja: rgb(255, 96, 0);



*/

:root{

--fondo: white;
--Naranja: rgb(255, 96, 0);
--Naranja-hover: rgb(221, 103, 29);
  }



.row1{

display:flex;
flex-direction:row;
justify-content:space-evenly;

  
}

.row2{

display:flex;
flex-direction:row;
justify-content:center;
  
}

.row3{

display:flex;
flex-direction:row;
justify-content:space-evenly;
  
}

.row4{

display:flex;
flex-direction:row;
justify-content:center;
border-top:solid 2px var(--Naranja);
border-bottom:solid 2px var(--Naranja);

  
}

[class*="col-"]{

float:left;
padding:15px;
}

*{

box-sizing:border-box;
  
}

html,body {
    margin:0;
    padding:0;
}

/*Espacio y Texto*/

.Espacio{

background: white;
widht: 100%;
display:inline-block;
height:15%;
  
}


/*



*/

/*

*************HEADER*****************

*/



.DivHeader{

  display:flex;
  flex-direction:row;
  padding-left:30px;
padding-top:25px;
padding-bottom:25px;
  padding-right:30px;
}


.LogoLink{


  
}

.Logo{
  
width:30%;
}


.UbicacionHeader{

color:var(--Naranja);
text-decoration:none;
font-family:"Roboto condensed";
}

.UbicacionTxtDiv{

align-self:end;
  
}

/*

*********************CONTENIDO**********************

*/

.Subtitulo{

background: var(--Naranja);
display:flex;
  justify-content: center;

  
}

.SubTxt{

padding:5px;
text-align:center;
color:black;
font-family:"Roboto condensed";

  
}

.Link1{

text-decoration:none;
  
}

.Imagen{

width:50%;
display:block;
margin:0;
  
}

.Contenedor{

    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
  border:solid 1px black;
}

.Nombre{

margin:0px;
padding:5px;
text-align:center;
color:black;
font-family:"Roboto condensed";
font-size:20px;
  
}

.Precio{

margin:0px;
padding:5px;
text-align:center;
color:black;
font-family:"Roboto condensed";
font-size:20px;
  
}

.TXT{

margin:0px;
padding:5px;
text-align:center;
color:black;
font-family:"Roboto condensed";
font-size:20px;
font-weight:justify;
  
}

.Link{

margin:0px;
padding:5px;
text-align:center;
color: var(--Naranja);
font-size:20px;
text-decoration:none;
  
}

/*

**********************FOOTER*******************

*/

.Redes{

text-decoration:none;
  
}

.L1, .L2, .L3, .L4 {

width:5%;
  
}



.Playstore{

display: flex;
flex-direction:row-reverse;
  
}

/*

************RESPONSIVO PC***************

*/

@media only screen and (min-width: 1440px){

  .col-1{width:25%;}
  .col-2{width:50%;}
  .col-3{width:75%;}
  .col-4{width:100%;}
  .col-5{width:33%}

  
.row1{

display:flex;
flex-direction:row;
justify-content:space-evenly;

  
}
  
}

@media only screen and (min-width: 768px){

  .col-pc1{width:25%;}
  .col-pc2{width:50%;}
  .col-pc3{width:75%;}
  .col-pc4{width:100%;}
  .col-pc5{width:33%}
.row1{

display:flex;
flex-direction:row;
justify-content:center;

  
}

  
  
}

/*

***************RESPONSIVO TABLET**************

*/

@media only screen and (max-width: 768px){

  .col-t1{width:25%;}
  .col-t2{width:50%;}
  .col-t3{width:75%;}
  .col-t4{width:100%;}


.row2{

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
  
}

  .EntradaImg1{

margin:2%;
    
  }
  
.Txt1, .Txt1span, .Txt2, Txt2span, .Txt3, Txt3span, .Txt4, Txt4span {

font-size:30px;
  
}

.ImgDinosaurios{

display:none;
  
}

.ImgDinosaurios2{

display:block;
  
}

.L1, .L2, .L3, .L4 {

width:20%;
  
}
  
}

/*

***************RESPONSIVO MOVIL****************

*/

@media only screen and (max-width: 480px){


[class*="col-"]{

width:100%

}


  
}