
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700;800;900&family=Roboto:wght@400;700&display=swap');






  /*
  
  *******************GENERAL**********************



ROSA MEXICANO: #a222245
  */
  


html{

font-family: 'Roboto', sans-serif;
  
}
  

:root{

--fondo: #ffe4b3;
--color-contenedor: #4d4bb9;
--color-menu: #545454;
--color-hover: #4d4bb9;
  }


* {

box-sizing: border-box;
  
}

body {

background-color: #f5e5c7
  
}

.fila::after{
content: "";
clear:both;
display:block;
  
}

[class="col-"]{

float:left;
padding:15px;
  
}



/*

*************LOGO***************

*/


.divlogo{


background:var(--color-contenedor);
  -webkit-box-shadow: 5px 5px 50px 5px rgba(0,0,0,0.5); 
box-shadow: 5px 5px 50px 5px rgba(0,0,0,0.5);
margin:5px;
  
}

.logo1{
width:10%;
height:10%;
display: block;
margin:auto;
padding:10px;
  
}

/*

*******************MENU**************************

*/


.Navbar {
 
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--color-menu);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: var(--color-hover);
}


/*

****************************MenuLateral********************

*/



.Sidebar{

background-color:#a222245;
padding:15px;
text-align:justify;
color:white;


}




/*

*************************ENCABEZADO******************************

*/


.Encabezado{



  
}
.Encabezadoimg{

 -webkit-box-shadow: 5px 5px 50px 5px rgba(0,0,0,0.5); 
box-shadow: 5px 5px 50px 5px rgba(0,0,0,0.5);
width:100%;
height:auto;
margin-top:5px;
margin-bottom:5px;
  
}

/*

*************************CONTENIDO*************************

*/



.Cuerpo{

background-color: #a222245;
padding:15px;
text-align:justify;
color:white;

  
}



/*

*******************RESPONSIVOPC*********************

*/

@media only screen and (min-widht: 768px){

  .col-1{widht:25%;}
  .col-2{widht:50%;}
  .col-3{widht:75%;}
  .col-4{widht:100%;}
  
}

/*

Dependiendo de en cuantas columnas se deben dividir vamos a ir
utilizando los diferentes parametro de columnas
2 columas de 2 o 1 de 1 y 1 de 3

*/

/*

*******************Responsivotablet*******************

*/


@media only screen and (max-widht: 768px){

  .col-t1{widht:25%;}
  .col-t2{widht:50%;}
  .col-t3{widht:75%;}
  .col-t4{widht:100%;}
  
}



/*

*******************ResponsivoMovil*******************

*/


@media only screen and (max-widht: 480px){


[class*="col-"]{

widht:100%
  
}

  li {

    float:none;
    
  }
  
}