
#Header1 {

font-family:Arial Narrow;
  Font-Size:25px;
text-align:center;

  
}

h2{

font-family:arial;;
font-size:20px;
  text-align:center;
}

p {


  font-family:roboto;
font-size:15px;
  text-align:center;
  letter-spacing:1px;
word-spacing:5px;
  
}