.Header {

  text-align:center;
  font-family:Arial Narrow;
  font-size:15px;
  color:white;
  background-color:#4f69ee;
}

.Cuerpo {

 text-align:center;
  font-family:Arial Narrow;
  font-size:15px;
  color:white;
  background-color:#7983af;
  
}

.Footer {

 text-align:center;
  font-family:Arial Narrow;
  font-size:15px;
  color:white;
  background-color:#4f69ee;
  
}

p {


font-family:Arial;
text-align:center;
  
}

a {

color:orange;
  
}